<!-- <!DOCTYPE html> -->
<html lang="en">
    <head>
        <% include extensions/header.ejs %>
    </head>

    <body class="fix-header fix-sidebar card-no-border">
        <% include extensions/content.ejs %>
        <% include extensions/footer.ejs %>
    </body>
</html>